
:root{
    --branding-color:#6c63ff;
    --secondary-color:#f9f7fe;
    --heading-font-family:"Playfair Display", serif;
    --detault-font-family:'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family:var(--heading-font-family) ;
    font-weight: bold;
}

h1{
    font-size: 96px;
    font-weight: bold;
    line-height: 1.5;
}

h2{
    font-size: 64px;
}
p{
    font-size: 16px;
    line-height: 30px;
}
.hero{
    background-color:var(--secondary-color) ;
    text-align: center;
    padding: 160px 20px;
}
.hero h2{
    font-family:var(--detault-font-family) ;
    font-weight: normal;
    font-size: 24px;
    line-height:1.5;
}

.hero p{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: bold;
    color: #272142;
    
}

.btn-branding{
background-color: var(--branding-color);
color: white;
border-radius: 4px;
font-size: 18px;
line-height: 27px;
padding: 15px 30px;
}

.btn-branding-outline{
    border-radius: 4px;
font-size: 18px;
line-height: 27px;
padding: 15px 30px;
color: var(--branding-color);
border: 1px solid var(--branding-color);
}

.project-desc{
    padding: 120px 60px;
}


.about-section{
    padding: 160px 20px;
}
.about-section h1{
    font-size: 44px;
    line-height: 80px;
}

.about-section h2{
    font-size: 18px;
    font-family: var(--detault-font-family);
}

.about-section-content{
    margin: 30px;
}
@media (max-width:960px) {
    .project-desc{
        padding: 0;
        text-align: center;
    }
    h1{
        font-size: 44px;
        line-height: 56px;
    }
    h2{
        font-size: 44px;
    }
    .hero{
        padding: 80px 20px;
    }
    .about-section{
        text-align: center;
        padding: 0;
    }
}